In [39]:
!pip install fuzzywuzzy[speedup]

Collecting fuzzywuzzy[speedup]
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Collecting python-levenshtein>=0.12
  Downloading python_Levenshtein-0.20.9-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.9
  Downloading Levenshtein-0.20.9-cp39-cp39-win_amd64.whl (101 kB)
     ------------------------------------ 101.3/101.3 kB 835.8 kB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.15.0-cp39-cp39-win_amd64.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 3.9 MB/s eta 0:00:00
Installing collected packages: fuzzywuzzy, rapidfuzz, Levenshtein, python-levenshtein
Successfully installed Levenshtein-0.20.9 fuzzywuzzy-0.18.0 python-levenshtein-0.20.9 rapidfuzz-2.15.0

In [40]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import os
from os.path import join
from fuzzywuzzy import process

In [2]:
def str_to_path(path_str):
    '''Converts windows path string to os.path'''
    path_list = path_str.split('\\')
    path = os.path.join(path_list[0], os.sep, *path_list[1:])
    return path

In [89]:
path = str_to_path(r"N:\WATER_Program\Groundwater\Global_GDE_Map\data")
plots_in = os.path.join(path, "sPlotOpen", "sPlotOpen_header(2).txt")
veg_in = os.path.join(path, "sPlotOpen", "sPlotOpen_DT(1).txt")
tbl_in = str_to_path(r"N:\WATER_Program\Groundwater\Global_GDE_Map\tables\sPlotOpen_GDE_review_20230407.csv")
fuzzy_out = str_to_path(r"N:\WATER_Program\Groundwater\Global_GDE_Map\tables\sPlotOpen_fuzzy_match.csv")
tbl_out = str_to_path(r"N:\WATER_Program\Groundwater\Global_GDE_Map\tables\sPlotOpen_GDE_points_20230407.csv")

In [66]:
df = pd.read_csv(tbl_in)
df = df.rename(columns={'GDE_Class(2=not groundwater-dependent;1= groundwater-dependent)': 'GDE_Class', 'GDE_Certainty_(1=High;2=Medium;3=Low)': 'GDE_Cert'})
df

,Species,Continent,Count_plots,GDE_Class,GDE_Cert,References,ExpertName,ExpertEmail,Notes,Species_Kristina_values,Species_sPlot_values,Species_Kristina,Species_sPlot
0,/new species,Asia,1,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,NaN,NaN,NaN,NaN,NaN
1,Abarema adenophora,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,"restricted to desert areas in central Asia, Af...",Abarema adenophora/rare species,Abarema adenophora,NaN,NaN
2,Abelia corymbosa,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,Native to Central Asia,NaN,NaN,NaN,NaN
3,Abelia mosanensis,Asia,1,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,evergreen shrubs are native to eastern Asia (J...,NaN,NaN,NaN,NaN
4,Abies alba,Europe,2113,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56045,Zygophyllum teretifolium,Africa,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56046,Zygophyllum xanthoxylum,Asia,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56047,Zygostigma australe,South America,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56048,NaN,Africa,632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56049,NaN,South America,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
#Error Checks on review table
print(df.GDE_Class.unique().tolist())
print(df.GDE_Cert.unique().tolist())
dfa = (df.groupby(['GDE_Class', 'GDE_Cert'], dropna=False)
           .agg({'Species':'count', 'Count_plots':'sum'})
           .reset_index()
           .rename(columns={'Species':'Count_species'})
          )
print(dfa)
# Get only the species with GDE class data
dfb = df.dropna(subset=['GDE_Class'])
print(len(df))

print(dfb.Continent.unique().tolist())
print(dfb[dfb.duplicated(['Species','Continent'], keep=False)].sort_values(by=['Species'], ascending=[True]))
#Remove any duplicate rows based on a subset of rows
dfb = dfb.drop_duplicates(subset=['Species','Continent'], keep='first')
print(len(dfb))

[1.0, 2.0, nan]
[2.0, 1.0, 3.0, nan]
   GDE_Class  GDE_Cert  Count_species  Count_plots
0        1.0       1.0            861        32391
1        1.0       2.0            601        21570
2        1.0       3.0            276         6237
3        2.0       1.0              3          323
4        2.0       2.0             53         1262
5        2.0       3.0             13          266
6        NaN       2.0              1          187
7        NaN       NaN          54240      1883128
56050
['Asia', 'Europe', 'Oceania', 'Africa', 'North America', 'South America']
               Species Continent  Count_plots  GDE_Class  GDE_Cert References  \
552  Breonia chinensis      Asia           11        1.0       2.0        NaN
553  Breonia chinensis      Asia            2        1.0       1.0        NaN

             ExpertName                ExpertEmail                  Notes  \
552  Kristina Toderich   ktoderich@tottori-u.ac.jp  Asia/mostly to China
553  Kristina Toderich   ktoderich@tottori-u.ac.jp                    NaN

            Species_Kristina_values Species_sPlot_values Species_Kristina  \
552  Breonia chinensis/endemic tree    Breonia chinensis              NaN
553          Breonia chinensis/tree    Breonia chinensis              NaN

    Species_sPlot
552           NaN
553           NaN
1806

In [61]:
# Read in plot data
df1 = pd.read_csv(plots_in, sep='\t')
df1

E:\Users\kklausmeyer\AppData\Local\Temp\36\ipykernel_14000\168297315.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(plots_in, sep='\t')

,PlotObservationID,GIVD_ID,Dataset,Continent,Country,Biome,Date_of_recording,Latitude,Longitude,Location_uncertainty,Releve_area,Plant_recorded,Elevation,Aspect,Slope,is_forest,ESY,Naturalness,Forest,Shrubland,Grassland,Wetland,Sparse_vegetation,Cover_total,Cover_tree_layer,Cover_shrub_layer,Cover_herb_layer,Cover_moss_layer,Cover_lichen_layer,Cover_algae_layer,Cover_litter_layer,Cover_bare_rocks,Cover_cryptogams,Cover_bare_soil,Height_trees_highest,Height_trees_lowest,Height_shrubs_highest,Height_shrubs_lowest,Height_herbs_average,Height_herbs_lowest,Height_herbs_highest,SoilClim_PC1,SoilClim_PC2,Resample_1,Resample_2,Resample_3,Resample_1_consensus
0,16,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1790.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
1,17,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
2,18,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,5.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,False,False,True,False
3,20,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1520.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,60.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,False,True,False,False
4,22,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1550.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,65.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95099,1126749,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2010-08-19,56.287870,27.273862,10.0,4.0,Not specified,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,10.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.599,0.775,True,False,False,True
95100,1126761,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2009-06-19,56.939965,23.598014,10.0,4.0,Not specified,NaN,NaN,NaN,False,Y-Gra,Semi-natural,False,False,True,False,False,93.0,NaN,NaN,90.0,3.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.416,0.690,False,False,True,False
95101,1126769,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2009-06-19,56.939965,23.598014,10.0,4.0,Not specified,NaN,NaN,NaN,False,Y-Gra,Semi-natural,False,False,True,False,False,93.0,NaN,4.0,91.0,5.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.416,0.690,False,True,False,False
95102,1126774,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-09-06,57.248222,22.147667,10.0,4.0,Not specified,NaN,NaN,NaN,NaN,?,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,38.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.065,0.849,False,False,True,False
95103,1126790,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False

In [62]:
# Read in species data
df2 = pd.read_csv(veg_in, sep='\t')
df2

,PlotObservationID,Species,Original_species,Original_abundance,Abundance_scale,Relative_cover
0,16,Festuca brachyphylla,Festuca brachyphylla,10.0,CoverPerc,0.277778
1,16,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.694444
2,16,Saxifraga serpyllifolia,Saxifraga serpyllifolia,1.0,CoverPerc,0.027778
3,17,Festuca brachyphylla,Festuca brachyphylla,1.0,CoverPerc,0.038462
4,17,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.961538
...,...,...,...,...,...,...
1945379,1126790,Potentilla erecta,Potentilla erecta,0.3,CoverPerc,0.006276
1945380,1126790,Salix lapponum,Salix lapponum,1.0,CoverPerc,0.020921
1945381,1126790,Stellaria palustris,Stellaria palustris,0.5,CoverPerc,0.010460
1945382,1126790,Trichophorum alpinum,Scirpus hudsonianus,18.0,CoverPerc,0.376569
1945383,1126790,Vaccinium oxycoccos,Vaccinium oxycoccos,8.0,CoverPerc,0.167364

In [68]:
# Check species data from review table to ensure all have a match in the veg data
df3 = df2[['Species']].drop_duplicates()

# Reset the index of the new DataFrame
df3.reset_index(drop=True, inplace=True)
df3['sPlot'] = 1

df4 = pd.merge(dfb, df3, on='Species', how='left')
df5 = df4[df4['sPlot'].isna()]
df5

,Species,Continent,Count_plots,GDE_Class,GDE_Cert,References,ExpertName,ExpertEmail,Notes,Species_Kristina_values,Species_sPlot_values,Species_Kristina,Species_sPlot,sPlot
0,/new species,Asia,1,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,NaN,NaN,NaN,NaN,NaN,NaN
537,Bolboschoenus/salt marsh species,Asia,4,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# Check the original data to see if those records exist
df3['Species'] = df3['Species'].fillna('')
df3[df3['Species'].str.startswith('Bolboschoenus')].sort_values(by='Species')

                         Species  sPlot
28325              Bolboschoenus      1
3300    Bolboschoenus caldwellii      1
4965   Bolboschoenus fluviatilis      1
13875      Bolboschoenus glaucus      1
37379   Bolboschoenus laticarpus      1
18464    Bolboschoenus maritimus      1
13850  Bolboschoenus planiculmis      1
34905     Bolboschoenus robustus      1

In [55]:
# Optional:  Create a table to review the species names that don't match the values in the sPlot Open dataset

# Get the unique species names from df3
unique_species_df3 = df3['Species'].unique()

# Create a new DataFrame with the 'Species' column from df5
#df_closest_matches = df5[['Species']].head(5).copy()
df_closest_matches = df5[['Species']].copy()

# Rename the original 'Species' column to 'Species_df5'
df_closest_matches.rename(columns={'Species': 'Species_Kristina'}, inplace=True)

# Add a new empty 'Species_df3' column
df_closest_matches['Species_sPlot'] = ''

i=1
# Iterate through the rows of df_closest_matches and find the closest match
for index, row in df_closest_matches.iterrows():
    species_df5 = row['Species_Kristina']
    print("Finding match for record {} of {}, for species {}".format(i, len(df_closest_matches), species_df5))
    closest_match = process.extractOne(species_df5, unique_species_df3)[0]
    df_closest_matches.at[index, 'Species_sPlot'] = closest_match
    i+=1
# Display the DataFrame with the closest matches

df_closest_matches.to_csv(fuzzy_out, encoding='utf-8', index=False)

Finding match for record 1 of 138, for species Achillea asiatica Serg.
Finding match for record 2 of 138, for species Aegopodium podagraria/herbaceous long-rizomes perennial native to Eurasia.
Finding match for record 3 of 138, for species Agrimonia pilosa Ledeb,/perennial rizomatous herb
Finding match for record 4 of 138, for species Arisaema amurense/pereennial tuber plant
Finding match for record 5 of 138, for species Arachniodes aristata/perennial geophyte
Finding match for record 6 of 138, for species Angiopteris lygodiifolia/endangered species
Finding match for record 7 of 138, for species Cenolophium denudatum/salt marshes
Finding match for record 8 of 138, for species Acantholimon subavenaceum  Lincz
Finding match for record 9 of 138, for species Acantholimon araxanum Bunge
Finding match for record 10 of 138, for species Alopecurus arundinaceus/rhizomatous perennial species
Finding match for record 11 of 138, for species Acantholimon calvertii Boissier
Finding match for record 12 of 138, for species Acantholimon compactum Korovin
Finding match for record 13 of 138, for species Aconitum angusticassidatum Steinb.
Finding match for record 14 of 138, for species Abies koreana Wilson
Finding match for record 15 of 138, for species Aconitum ajanense Steinb.
Finding match for record 16 of 138, for species Aegilops umbellulata Zhuk. (wild relative of wheat)
Finding match for record 17 of 138, for species Acer monspessulanum L.
Finding match for record 18 of 138, for species Aegopodium alpestre (perennial Root up to 0.5m)
Finding match for record 19 of 138, for species Acantholimon caryophyllaceum Boiss
Finding match for record 20 of 138, for species Acanthophyllum sarawschanicum Golenk
Finding match for record 21 of 138, for species Chrozophora oblongifolia/monoceous shrubby herb
Finding match for record 22 of 138, for species Abies nordmanniana subsp. equi-trojani
Finding match for record 23 of 138, for species Callicarpa candicans/perennial shrubs
Finding match for record 24 of 138, for species Acer negundo L.
Finding match for record 25 of 138, for species Ceratocarpus arenarius/ephemeroids
Finding match for record 26 of 138, for species Koelpinia linearis/ephemers
Finding match for record 27 of 138, for species Aeluropus littoralis (Gouan) Parl. / a perennial monocot halophytic  grass
Finding match for record 28 of 138, for species Agrostis divaricatissima/perennial tall herb
Finding match for record 29 of 138, for species Acacia penninervis Sieber ex DC.
Finding match for record 30 of 138, for species Alisma plantago-aquatica/in shallow water/ground water dependent
Finding match for record 31 of 138, for species Acer campestre L.
Finding match for record 32 of 138, for species Bredia hirsuta/perennial rizamatous herb
Finding match for record 33 of 138, for species Anacardium occidentale (Noix de Cajou)
Finding match for record 34 of 138, for species Boehmeria spicata/herbaceous perennial plant with woody stems
Finding match for record 35 of 138, for species Acantholimon alaicum Czerniak
Finding match for record 36 of 138, for species Acantholimon alatavicum Bunge
Finding match for record 37 of 138, for species Agropyron mongolicum/perennial grass
Finding match for record 38 of 138, for species Breonia chinensis/endemic tree
Finding match for record 39 of 138, for species Calamus formosanus/rizomatous tropical perennial
Finding match for record 40 of 138, for species Chrozophora tinctoria/shrubby and annual plants
Finding match for record 41 of 138, for species Acantholimon alexeenkoanum Czerniak. ex Ikonn
Finding match for record 42 of 138, for species Acantholimon saravschanicum Regel.
Finding match for record 43 of 138, for species Aegopodium tadshikorum Schischk.
Finding match for record 44 of 138, for species Acantholimon alexandri Fed
Finding match for record 45 of 138, for species Aconitum barbatum  Ledeb.
Finding match for record 46 of 138, for species Arctium lappa/ethnobotanic value /perennial herb
Finding match for record 47 of 138, for species Abies sibirica Ledeb
Finding match for record 48 of 138, for species Cephalanthera caucasica/rizamatou sperennials. Rare and under disappearing
Finding match for record 49 of 138, for species Abutilon bidentatum Hoshst.ex A. Rich
Finding match for record 50 of 138, for species Bolbitis heteroclita/evegreen medicinal species
Finding match for record 51 of 138, for species Datura innoxia/alien species
Finding match for record 52 of 138, for species Agrostis infirma/Perennial, rhizomatous
Finding match for record 53 of 138, for species Amphicarpaea bracteata/legume
Finding match for record 54 of 138, for species Cyperus aucheri/aquatic plant
Finding match for record 55 of 138, for species Acantholimon erinaceum (Jaub. & Spach) Lincz.
Finding match for record 56 of 138, for species Acantholimon fetisowii Regel
Finding match for record 57 of 138, for species Aconitum axilliflorum Vorosch.
Finding match for record 58 of 138, for species Aegilops triuncialis L.
Finding match for record 59 of 138, for species Aglaia korthalsii/pousonous perennial
Finding match for record 60 of 138, for species Agrostis canina/perennial grass grown by stolons
Finding match for record 61 of 138, for species Alisma gramineum / may live in shallow water
Finding match for record 62 of 138, for species Anaphalis flavescens/woody rizomatous
Finding match for record 63 of 138, for species Aristolochia clematitis/under exteension plant
Finding match for record 64 of 138, for species Celastrus flagellaris/perennial bulb
Finding match for record 65 of 138, for species Acacia (Robinia pseudoacacia L.)  white acacia
Finding match for record 66 of 138, for species Boerhavia diffusa/perennial herb
Finding match for record 67 of 138, for species Bolboschoenus/salt marsh species
Finding match for record 68 of 138, for species Brassica juncea/perennial herb
Finding match for record 69 of 138, for species Cymbidium dayanum/perennial ornamental plant of high landscape value
Finding match for record 70 of 138, for species Abies fraseri Pursh (Poir)
Finding match for record 71 of 138, for species Acantholimon taschkurganicum I. A. Lincz. &amp; N. I. Akshigitova
Finding match for record 72 of 138, for species Acantholimon virens Czerniak.
Finding match for record 73 of 138, for species Acanthoprasium frutescens (L.) Spenn.
Finding match for record 74 of 138, for species Aconitum ambiguum Rchb.
Finding match for record 75 of 138, for species Aconitum songaricum
Finding match for record 76 of 138, for species Aethionema trinervium/perennial fleshy leaves
Finding match for record 77 of 138, for species Anemone altaica Fischer ex C. A. Meyer
Finding match for record 78 of 138, for species Abarema adenophora/rare species
Finding match for record 79 of 138, for species Acantholimon fedorovii
Finding match for record 80 of 138, for species Acantholimon pterostegium Bunge
Finding match for record 81 of 138, for species Acanthophyllum crassifolium Boiss
Finding match for record 82 of 138, for species Acer heldreichii Orph. ex Boiss.
Finding match for record 83 of 138, for species Aconitum turczaninowii Vorosch.
Finding match for record 84 of 138, for species Aconitum villosum Reichenbach var. daxinganlinense.

Finding match for record 85 of 138, for species Aglaia elaeagnoidea (A.Juss.) Benth/tree
Finding match for record 86 of 138, for species Alcea nudiflora perennial rizamatous tall herb
Finding match for record 87 of 138, for species Alchemilla bungei/clumping perennials
Finding match for record 88 of 138, for species Allophylus glabratus/tree
Finding match for record 89 of 138, for species Aphelandra scabra
Finding match for record 90 of 138, for species Aremonia agrimonoides (L.) DC.
Finding match for record 91 of 138, for species Argemone mexicana/short leaved perennial
Finding match for record 92 of 138, for species Barbarea plantaginea/wetlands
Finding match for record 93 of 138, for species Basella alba/perennial grape
Finding match for record 94 of 138, for species Bongardia chrysogonum/tuberousus perennial
Finding match for record 95 of 138, for species Bourreria quirosii/tropical tree
Finding match for record 96 of 138, for species Breonia chinensis/tree

Finding match for record 97 of 138, for species Bulbophyllum affine/grow in wet tropical forest
Finding match for record 98 of 138, for species Bursera fagaroides/dry deciduous desert shrub
Finding match for record 99 of 138, for species Cercocarpus macrophyllus/rizamatous perennial
Finding match for record 100 of 138, for species Chaerophyllum involucratum/perennial and usually densely tufted.

Finding match for record 101 of 138, for species Cyclocodon lancifolius/medicinal plant of high value
Finding match for record 102 of 138, for species Cynanchum atratum/perennial herbaceous plant native to East Asia
Finding match for record 103 of 138, for species Acantholimon hissaricum Lincz
Finding match for record 104 of 138, for species Acantholimon zaprjagaevii Lincz
Finding match for record 105 of 138, for species Acinodendron pergamentaceum Kuntze.
Finding match for record 106 of 138, for species Aconitum lasiocarpum Rchb.
Finding match for record 107 of 138, for species Adonis tianschanica (Adolf) Lipsch.
Finding match for record 108 of 138, for species Aesculus glabra perennial woody
Finding match for record 109 of 138, for species Agelaea macrophylla (Zoll) Leenh
Finding match for record 110 of 138, for species Alkanna tinctoria/temporary dependent of ground water /ephemeroid species
Finding match for record 111 of 138, for species Ammodendron
Finding match for record 112 of 138, for species Amyris balsamifera/perennial herb
Finding match for record 113 of 138, for species Apodostigma pallens/riparian forest
Finding match for record 114 of 138, for species Argyreia formosana/ perennial herbaceous
Finding match for record 115 of 138, for species Bactris gasipaes/tropical palm
Finding match for record 116 of 138, for species Barleria aculeata/perennial herb monocarpic
Finding match for record 117 of 138, for species Boehmeria clidemioides/subtropical shrub/semishrub
Finding match for record 118 of 138, for species Bunchosia hookeriana/tropical tree
Finding match for record 119 of 138, for species Caesalpinia crista/ grows on the river banks in tidal forests
Finding match for record 120 of 138, for species Calanthe alismifolia/rare species
Finding match for record 121 of 138, for species Cedrela odorata/threatened species
Finding match for record 122 of 138, for species Cedrelopsis grevei/endemic plant
Finding match for record 123 of 138, for species Cerasus spachiana/perennial bulb
Finding match for record 124 of 138, for species Ceroxylon ceriferum/evegreen palm tree
Finding match for record 125 of 138, for species Chrysosplenium flagelliferum/soft herbaceous perennial plants
Finding match for record 126 of 138, for species Cinnamomum austrosinense/sometimes invasive perennial
Finding match for record 127 of 138, for species Eriochloa villosa/facultative perennial
Finding match for record 128 of 138, for species /new species
Finding match for record 129 of 138, for species Ageratum conyzoides/annual
Finding match for record 130 of 138, for species Aegopodium latifolium/rhizomatous aquatic perennial
Finding match for record 131 of 138, for species Avicennia marina/mangrove tree usually grow in the water
Finding match for record 132 of 138, for species Bactris concinna/rain forest
Finding match for record 133 of 138, for species Ceratocephala falcata/annual
Finding match for record 134 of 138, for species Ageratum houstonianum Mill./annuals
Finding match for record 135 of 138, for species Butomus umbellatus/a rhizomatous, hairless, perennial aquatic plant.
Finding match for record 136 of 138, for species Aegilops juvenalis/annual species
Finding match for record 137 of 138, for species Azolla filiculoides/aquatic palnt
Finding match for record 138 of 138, for species Lozania pittieri/Submerged, perennial

PermissionError: [Errno 13] Permission denied: 'N:\\Projects\\Groundwater\\projects\\Global_GDE_Map\\tables\\sPlotOpen_fuzzy_match.csv'

In [79]:
# Join the plot data to the sPlot species table
df6 = pd.merge(df2, df1, on='PlotObservationID', how='left')
df6

,PlotObservationID,Species,Original_species,Original_abundance,Abundance_scale,Relative_cover,GIVD_ID,Dataset,Continent,Country,Biome,Date_of_recording,Latitude,Longitude,Location_uncertainty,Releve_area,Plant_recorded,Elevation,Aspect,Slope,is_forest,ESY,Naturalness,Forest,Shrubland,Grassland,Wetland,Sparse_vegetation,Cover_total,Cover_tree_layer,Cover_shrub_layer,Cover_herb_layer,Cover_moss_layer,Cover_lichen_layer,Cover_algae_layer,Cover_litter_layer,Cover_bare_rocks,Cover_cryptogams,Cover_bare_soil,Height_trees_highest,Height_trees_lowest,Height_shrubs_highest,Height_shrubs_lowest,Height_herbs_average,Height_herbs_lowest,Height_herbs_highest,SoilClim_PC1,SoilClim_PC2,Resample_1,Resample_2,Resample_3,Resample_1_consensus
0,16,Festuca brachyphylla,Festuca brachyphylla,10.0,CoverPerc,0.277778,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1790.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
1,16,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.694444,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1790.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
2,16,Saxifraga serpyllifolia,Saxifraga serpyllifolia,1.0,CoverPerc,0.027778,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1790.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,30.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
3,17,Festuca brachyphylla,Festuca brachyphylla,1.0,CoverPerc,0.038462,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
4,17,Potentilla elegans,Potentilla elegans,25.0,CoverPerc,0.961538,NA-US-014,Aava,North America,United States,Boreal zone,1980-01-01,62.420000,-154.180000,1000.0,NaN,Not specified,1750.0,NaN,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.660,0.546,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945379,1126790,Potentilla erecta,Potentilla erecta,0.3,CoverPerc,0.006276,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False
1945380,1126790,Salix lapponum,Salix lapponum,1.0,CoverPerc,0.020921,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False
1945381,1126790,Stellaria palustris,Stellaria palustris,0.5,CoverPerc,0.010460,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False
1945382,1126790,Trichophorum alpinum,Scirpus hudsonianus,18.0,CoverPerc,0.376569,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False
1945383,1126790,Vaccinium oxycoccos,Vaccinium oxycoccos,8.0,CoverPerc,0.167364,EU-00-020,European wetlands,Europe,Latvia,Temperate midlatitudes,2003-07-19,57.563967,26.892074,10.0,4.0,Not specified,NaN,NaN,NaN,False,D32,Natural,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.738,1.164,False,False,True,False

In [91]:
# Join the GDE review data to the sPlot data
df7 = pd.merge(dfb, df6, on=['Species', 'Continent'], how='inner')
df7 = df7.drop(['Species_sPlot_values', 'Species_Kristina', 'Species_sPlot'], axis=1)
df7 = df7.rename(columns={'Latitude': 'latitude', 'Longitude': 'longitude'})

df7

,Species,Continent,Count_plots,GDE_Class,GDE_Cert,References,ExpertName,ExpertEmail,Notes,Species_Kristina_values,PlotObservationID,Original_species,Original_abundance,Abundance_scale,Relative_cover,GIVD_ID,Dataset,Country,Biome,Date_of_recording,latitude,longitude,Location_uncertainty,Releve_area,Plant_recorded,Elevation,Aspect,Slope,is_forest,ESY,Naturalness,Forest,Shrubland,Grassland,Wetland,Sparse_vegetation,Cover_total,Cover_tree_layer,Cover_shrub_layer,Cover_herb_layer,Cover_moss_layer,Cover_lichen_layer,Cover_algae_layer,Cover_litter_layer,Cover_bare_rocks,Cover_cryptogams,Cover_bare_soil,Height_trees_highest,Height_trees_lowest,Height_shrubs_highest,Height_shrubs_lowest,Height_herbs_average,Height_herbs_lowest,Height_herbs_highest,SoilClim_PC1,SoilClim_PC2,Resample_1,Resample_2,Resample_3,Resample_1_consensus
0,Abarema adenophora,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,"restricted to desert areas in central Asia, Af...",Abarema adenophora/rare species,56172,Abarema adenophora,13.0,x_SC,0.023091,00-00-003,Salvias,Indonesia,Tropics with year-round rain,NaN,-1.250000,110.170000,1000.0,1600.0,Woody plants >= 10 cm dbh,198.0,NaN,NaN,True,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.609,9.325,True,True,True,True
1,Abarema adenophora,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,"restricted to desert areas in central Asia, Af...",Abarema adenophora/rare species,58216,Abarema adenophora,100.0,x_SC,0.025641,00-00-003,Salvias,Malaysia,Tropics with year-round rain,NaN,3.956000,101.616000,100.0,100.0,Woody plants >= 2.5 cm dbh,890.0,NaN,NaN,True,NaN,Natural,True,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.642,8.230,True,True,True,True
2,Abelia corymbosa,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,Native to Central Asia,NaN,72629,Abelia corymbosa,2.0,CoverPerc,0.016949,AS-RU-004,Siberia_Kazachstan,Kazakhstan,Dry midlatitudes,2011-06-01,50.399496,70.079731,100.0,100.0,Not specified,330.0,360.0,0.0,False,NaN,NaN,False,False,True,False,False,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,20.0,-2.369,-1.091,False,True,False,False
3,Abelia corymbosa,Asia,2,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,Native to Central Asia,NaN,72638,Abelia corymbosa,2.0,CoverPerc,0.025641,AS-RU-004,Siberia_Kazachstan,Kazakhstan,Dry midlatitudes,2011-06-01,50.517016,70.153947,100.0,100.0,Not specified,359.0,360.0,0.0,False,NaN,NaN,False,False,True,False,False,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,10.0,-2.396,-1.118,True,True,True,True
4,Abelia mosanensis,Asia,1,1.0,2.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,evergreen shrubs are native to eastern Asia (J...,NaN,44006,Abelia mosanensis,2.0,CoverPerc,0.009662,AS-00-001,Korea,South Korea,Tropics with year-round rain,NaN,34.611111,127.433333,1000.0,225.0,Not specified,300.0,45.0,15.0,True,NaN,Semi-natural,True,False,False,False,False,NaN,85.0,25.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.637,3.516,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62004,Reaumuria soongarica,Asia,302,2.0,1.0,"Xu, H., Li, Y. Water-use strategy of three cen...",Kirk Klausmeyer,kklausmeyer@tnc.org,NaN,NaN,70962,Reaumuria songarica,5.0,CoverPerc,0.172414,AS-RU-002,Siberia,Russian Federation,Boreal zone,2007-06-21,50.026940,88.655800,10.0,100.0,Not specified,1807.0,360.0,0.0,NaN,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.267,-1.614,False,False,True,False
62005,Reaumuria soongarica,Asia,302,2.0,1.0,"Xu, H., Li, Y. Water-use strategy of three cen...",Kirk Klausmeyer,kklausmeyer@tnc.org,NaN,NaN,71048,Reaumuria songarica,4.0,CoverPerc,0.258065,AS-RU-002,Siberia,Russian Federation,Boreal zone,2008-06-19,49.992540,88.823090,10.0,100.0,Not specified,1809.0,360.0,0.0,NaN,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.787,-1.001,False,True,True,False
62006,Reaumuria soongarica,Asia,302,2.0,1.0,"Xu, H., Li, Y. Water-use strategy of three cen...",Kirk Klausmeyer,kklausmeyer@tnc.org,NaN,NaN,71064,Reaumuria songarica,10.0,CoverPerc,0.416667,AS-RU-002,Siberia,Russian Federation,Boreal zone,2010-08-25,49.882870,88.755350,10.0,100.0,Not specified,0.0,360.0,0.0,NaN,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.224,-1.703,True,False,True,True
62007,Reaumuria soongarica,Asia,302,2.0,1.0,"Xu, H., Li, Y. Water-use strategy of three cen...",Kirk Klausmeyer,kklausmeyer@tnc.org,NaN,NaN,71066,Reaumuria songarica,14.0,CoverPerc,0.875000,AS-RU-002,Siberia,Russian Federation,Boreal zone,2010-08-25,49.884890,88.758080,10.0,100.0,Not specified,1771.0,360.0,0.0,NaN,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.224,-1.703,True,True,True,True
62008,Reaumuria soongarica,Asia,302,2.0,1.0,"Xu, H., Li, Y. Water-use strategy of three cen...",Kirk Klausmeyer,kklausmeyer@tnc.org,NaN,NaN,71067,Reaumuria songarica,15.0,CoverPerc,0.652174,AS-RU-002,Siberia,Russian Federation,Boreal zone,2010-08-25,49.886490,88.760220,10.0,100.0,Not specified,1769.0,360.0,0.0,NaN,NaN,Natural,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.224,-1.703,False,True,False,False

In [92]:
# Do another data check on the number of plots
df8 = (df7.groupby(['Species', 'Continent'], dropna=False)
           .agg({'PlotObservationID':'count'})
           .reset_index()
           .rename(columns={'PlotObservationID':'Count_plots_check'})
          )
df9 = pd.merge(df8, dfb, on=['Species', 'Continent'])
df9[df9['Count_plots_check'] != df9['Count_plots']]

,Species,Continent,Count_plots_check,Count_plots,GDE_Class,GDE_Cert,References,ExpertName,ExpertEmail,Notes,Species_Kristina_values,Species_sPlot_values,Species_Kristina,Species_sPlot
182,Aegilops neglecta,Asia,38,77,1.0,3.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,Europe,NaN,NaN,NaN,NaN
1792,Robinia pseudoacacia,Asia,17,4,1.0,1.0,NaN,Kristina Toderich,ktoderich@tottori-u.ac.jp,"Asia/Caucasus, Crimea and Central Asia",Acacia (Robinia pseudoacacia L.) white acacia,NaN,NaN,NaN

In [93]:
# Export table
df7.to_csv(tbl_out, encoding='utf-8', index=False)